// scss-docs-start theme-color-variables
$primary:       hsl(288, 77%, 34%);
$secondary:     hsl(325, 76%, 82%);
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         hsl(42, 53%, 80%);
$dark:          hsl(42, 61%, 53%);

$grid-gutter-width:           2rem !default;
$border-radius:               1rem !default;
//$font-family-base:            var(--#{$prefix}font-sans-serif) !default;


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

